mixin icon(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
	img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin socials(socials, modClass, ref)
	ul.socials(class=`${modClass}`)
		each item, index in socials
			li.socials__item
				a(href=`${ref[index]}` class=`socials__link_${item}`).socials__link
					+icon(item, 'socials__link-icon')

mixin nav(className, items, activeItem, ref)
	nav(class=`${className}`)
		ul(class=`${className}__list`)
			each item, ndx in items
				li(class=`${className}__item` + ((ndx === activeItem) ? ` ${className}__item_active` : ''))
					a(class=`${className}__link` href=`${ref[ndx]}`)= item